*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:lightblue
}
h1{
  color: cadetblue;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10vh;
  color: black;
}
input{
  outline: none;
  border: none;
  color: black;
  height: 3vh;
}
button{
  height: 4vh;
  border: none;
  background-color:lightskyblue;
  color: black;
  width: 4vw;
}
ul{
  list-style: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vh;

}